今天

Zek Pan上傳了 1 個項目
上午2:02
CSS 樣式表
font.css
沒有 2015年4月19日前的活動紀錄
已使用 21 GB (77%)
購買額外儲存空間
已關閉 font.css
選擇開啟工具
@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'batman';
	src: url('../fonts/batmfa__0.eot');/*ie*/
	src:	
	  local("batmfa__0"),
	  local("BatmanForeverAltemate"),
	  url("../fonts/batmfa__0.eot?#iefix")  format('embedded-opentype'),/*ie*/
	  url("../fonts/batmfa__0.woff") format('woff'),
	  url("../fonts/batmfa__0.otf")  format('opentype'),
	  url("../fonts/batmfa__0.ttf")  format('truetype');
	font-weight: normal;
    font-style: normal;

  }


@font-face {
  font-family: 'square721bt';
  src: url('../fonts/square721bt.eot');/*ie*/
  src:	
	  local("Square 721 bt"),
	  local("tt0246m"),
	  url("../fonts/square721bt.eot?#iefix")  format('embedded-opentype'),/*ie*/
	  url("../fonts/square721bt.woff") format('woff'),
	  url("../fonts/square721bt.otf") format('opentype'),
	  url("../fonts/square721bt.ttf") format('truetype');
	font-weight: normal;
    font-style: normal;
  }
  
 @font-face {
  font-family: 'MyriadProLight';
  src: url('../fonts/MyriadProLight.eot');/*ie*/
  src:	
	  local("Square 721 bt"),
	  local("tt0246m"),
	  url("../fonts/MyriadProLight.eot?#iefix")  format('embedded-opentype'),/*ie*/
	  url("../fonts/MyriadProLight.woff") format('woff'),
	  url("../fonts/MyriadProLight.otf") format('opentype'),
	  url("../fonts/MyriadProLight.ttf") format('truetype');
	font-weight: normal;
    font-style: normal;
  }