@charset"utf-8";
/* CSS Document */

body {
  background: #000;
  min-width: 1024px;
  max-width: 1920px;
  font-family: "square721bt", Arial;
  position: relative;
  height: 100%;
}
.contaier {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1920px;
}
/*index*/

.container .index {
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  background-image: url(../imgs/KV_2.jpg);
  background-size: cover;
  position: relative;
}

/*IIP*/

.patten{
  position:absolute;
  right:0;
  bottom:0;
  z-index:99;
  margin-bottom:-1px;
  }
.box-bage{
  position:fixed;
  right:0;
  bottom:0;
  z-index:100;
  padding:10px;
  color: #000;
  }
.box-bage.stop {
  position: absolute;
  color: #fff;
}
.bage{
  margin-left:60%;
  }
.bage-word{
  /*color:white;*/
  font-family: 'square721bt';
  /*font-family: 'MyriadProLight';*/
  text-align:right;
  margin-top:5px;
  line-height:18px;
  }
  
.bage-word p{
  font-size:16px;
  }
/**/

.text_size_04 {
  font-family: "square721bt" , Arial;
  color: #FFF;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}

.container .index .ROG_LOGO{
	width: 223px;
	height: 63px;
	position: absolute;
	left: 20px;
	top: 20px;
	}

.container .index .top {
  position: relative;
  width: 100%;
  height: 0;
  min-width: 1024px;
  margin: 0 auto;
  background-image: url(../imgs/event_LOGO.png);
  background-position: center center;
  background-size: cover;
  padding-bottom: 14.74%;
  z-index: 100;
}
.container .index .top .timer {
  /*width: 30%;*/
  margin: 0 auto;
  width: 405px;
  height: 60px;
  /*overflow: hidden;*/
  background: url(../imgs/timer.png) no-repeat;
  background-size: 405px 60px;
  text-align: center;
  position: relative;
  padding-top: 28px;
}
.mobile .container .index .top .timer {
  width: 307px;
  height: 36px;
  background-size: 307px 36px;
}


/*#countdown {
  margin-top: 33px;
}*/
.container .index .top .menu {
  min-width: 380px;
  position: fixed;
  z-index: 2;
  right: 5px;
  top: 0px;
  background-image: url(../imgs/menu.png);
  background-position: center center;
  background-size: cover;
}
.container .index .top .menu ul {
  width: 85%;
  margin: 0 auto;
}
.container .index .top .menu li {
  float: left;
  margin-left: 8%;
  text-align: center;
  line-height: 2.5em;
}
.container .index .top .menu li:first-child {
  margin-left: 0;
}
.container .index .top .menu a {
  color: #343e59;
}
.container .index .top .menu a:hover {
  color: #b90c0c;
}
.container .index .top .socila_media {
  width: 15%;
  height: auto;
  position: absolute;
  right: 0;
  top: 40px;
}
.container .index .top .socila_media ul {
  width: 100%;
}
.container .index .top .socila_media li {
  width: 20%;
  display: inline-block;
}
.container .index .top .socila_media a {
  width: 100%;
  height: auto;
  min-height: 30px;
  min-width: 30px;
  display: block;
}
.container .index .screen {
  width: 100%;
  height: 0;
  background-image: url(../imgs/screen.png);
  padding-bottom: 51.2%;
  background-size: cover;
  position: relative;
}
.container .index .screen .video {
  width: 61.5%;
  height: 0;
  padding-bottom: 35%;
  background: #FFF;
  position: absolute;
  left: 19.5%;
  top: 9%;
  visibility: hidden;
}
.container .index .screen .video .play {} .container .index .movie {
  width: 100%;
  height: auto;
  min-height: 180px;
  background-image: url(../imgs/movie_BG.jpg);
  padding-bottom: 1%;
  background-repeat: repeat-x;
  background-size: cover;
}
.container .index .movie .movie_list {
  width: 90%;
  margin: 0 auto;
  background: #000;
  padding: 40px 0;
}
.container .index .movie .movie_list ul {
  margin: 0 auto;
}
.container .index .movie .movie_list li {
  width: 12.5%;
  height: 120px;
  float: left;
  /*display: inline-block;
  *display: inline;
  zoom: 1;*/
  background: #FFF;
  margin-left: 5%;
  position: relative;
  cursor: pointer;
}
.container .index .movie .movie_list li:first-child {
  margin-left: 0;
}
.container .index .movie .movie_list li .thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  text-align: center;
}
.container .index .movie .movie_list li .thumbnail img {
  width: 100%;
}
.container .index .movie .movie_list li .play_wrapper {
  width: 100%;
  height: 48px;
  position: absolute;
  top: 36px;
}
.container .index .movie .movie_list li .play_wrapper .btn_play {
  width: 48px;
  height: 48px;
  overflow: hidden;
  margin: 0 auto;
  background: url(../imgs/movie_play.png);
}
.container .index .movie .movie_list li:hover .play_wrapper .btn_play, .container .index .movie .movie_list li.selected .play_wrapper .btn_play {
  background-position: -48px 0;
}
.container .index .movie .movie_list li .text_wrapper {
  width: 100%;
  position: absolute;
  /*在影片字的位置(置中或靠左)*/
  /*text-align: center;*/
  bottom: -3.5em;
  color: #fff;
}
/*.container .index .movie .movie_list .movie_play {
  width: 100px;
  height: 80px;
  margin: 0 auto;
  margin-top: 15px;
}
.container .index .movie .movie_list .movie_play:hover .play {
  background: url(../imgs/movie_play.png) -48px 0;
  cursor: pointer;
}
.container .index .movie .movie_list .movie_play .play {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
  background: url(../imgs/movie_play.png) 0 0;
}
.container .index .movie .movie_list .movie_play p {
  text-align: center;
}*/
.container .index .gamer {
  width: 100%;
  height: 225px;
  min-height:200px;
  /*background:url(../imgs/team_BG.jpg);*/
  border-top: #FFF 1px solid;
}
.container .index .gamer .special {
  width: 20%;
  min-height: 225px;
  background: #000;
  float: left;
  margin-top: 1%
}
.container .index .gamer .special .special_pic {
  width: 100%;
  height: auto;
  background-image: url(../imgs/special.jpg);
  padding-bottom: 34.71%;
  background-size: cover;
  position: relative;
}
.container .index .gamer .special .special_pic p {
  position: absolute;
  left: 10px;
  top: 80%;
  color: white;
  font-size: 1.8em;
  font-family: Arial;
  font-style: italic;
  font-weight: 600;
}
.container .index .gamer .special .word {
  height: 50px;
  margin: 20px;
}
.container .index .gamer .special .word .name {
  width: 28%;
  float: left;
  margin-left: 10px;
  border-right: #FFF 1px solid;
  font-weight: bold;
}
.container .index .gamer .special .word .experience {
  width: 63%;
  /*font-weight: bold;*/
  float: right;
  margin: 5px;
}
.container .index .gamer .team {
  width: 80%;
  height: 225px;
  float: right;
  background: url(../imgs/team_BG.jpg);
}
.container .index .gamer .team .team_name {
  font-weight: bold;
  width: 75%;
  margin: 0 auto;
}
.container .index .gamer .team .profile {
  width: 24%;
  float: left;
  margin-left: 1%;
}
.container .index .gamer .team .profile .pic {
  width: 35%;
  float: left;
}
.container .index .gamer .team .profile .experience {
  width: 60%;
  font-weight: bold;
  float: right;
}

.container .hoarding {
  width: 100%;
  height: 300px;
  padding-top:5%;
}
.container .news {
  width: 30%;
  float: left;
}

.container .news .board {
  width: 90%;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 15px 0;
}
.container .news .board ul { width:90%; margin:0 auto;}
.container .news .board li.item_list { border-top: #FFF 1px solid; padding:3%;}
.container .news .board li.item_list:first-child { border: 0;}
.container .news .board .date { font-weight:bold;}

.container .banner {
  width: 70%;
  margin-top: -3%;
  float: right;
}
.container .banner .game_logo {
  width: 20%;
  height: 50px;
  margin: 28px auto;
}
.container .banner .banner_teams {
  width: 95%;
  margin: 0 auto;
}
.team_A, .team_B {
  width: 48%;
  margin: 1%;
}
.container .banner .banner_teams .team_A {
  float: left;
}
.container .banner .banner_teams .team_B {
  float: right;
}
/*section*/

.container .section {
  width: 100%;
  margin: 0 auto;
  clear:both;
  padding-top:5%;
}
.container .section .heading {
  font-family: "batman", Impact;
  font-size: 8.3em;
  color:#FFF;
  width: 97%;
  margin: 0 auto;
}
.container .section .detail {
  width: 100%;
  height: 0;
  background-size: cover;
}
.BG_01 {
  background-image: url(../imgs/sectionB_BG_01.jpg);
  padding-bottom: 40.62%;
}
.BG_02 {
  background-image: url(../imgs/sectionB_BG_02.jpg);
  padding-bottom: 42.6%;
}
.BG_03 {
  background-image: url(../imgs/sectionB_BG_03.jpg);
  padding-bottom: 51.93%;
}
.BG_04 {
  background-image: url(../imgs/sectionB_BG_04.jpg);
  padding-bottom: 54.53%;
}
.BG_05 {
  background-image: url(../imgs/sectionB_BG_05.jpg);
  padding-bottom: 47.76%;
}
.BG_06 {
  background-image: url(../imgs/sectionB_BG_06.jpg);
  padding-bottom: 64.84%;
}
.container .section .detail .word {
  width: 70%;
  margin-left: 4%;
}
.container .section .detail .word .title {
  color: #e10913;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 5%;
}
.container .section .detail .word .text {
  width: 30%;
  min-width: 600px;
  font-style: normal;
  line-height: 1.8em;
}
.container .section .detail .word_02 {
  width: 30%;
  margin-left: 60%;
}
.container .section .detail .word_02 .title {
  color: #e10913;
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 35%;
  text-align: right;
}
.container .section .detail .word_02 .text {
  font-style: normal;
  line-height: 2em;
}
.container .section .detail .form {
  width: 70%;
  margin: 15% auto 3%;
}
.container .section .detail .form img {
  width: 47%;
}
.container .section .detail .form .left {
  float: left;
}
.container .section .detail .form .right {
  float: right;
}
.container .section .detail .last {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.container .section .divide {
  display: block;
  width: 100%;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(../imgs/copyright_line.png);
  background-position: center center;
  background-size: 100% auto;
  z-index: 1;
}
/*product*/

.container .product {
  width: 100%;
  margin: 0 auto;
  max-width: 1800px;
}
.container .product .title img {
  width: 100%;
  height: auto;
}
/*product_items*/

.container .product ul.list {
  width: 100%;
  clear: both;
}
.container .product ul.list_02 {
	width: 100%;
  margin-left: 10%;
  clear: both;
}
.container .product .list li, .list_02 li {
  float: left;
  padding-bottom: 2%;
}
.container .product .list_item {
  width: 24.9%;
}
.container .product .items {
  width: 90%;
  margin: 0 auto;
}
.container .product .items .image {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.container .product .items .image img {
  width: 100%;
  height: auto;
}
.container .product .items .model {
  font-size: 2em;
  color: #e10913;
}
.container .product .items .info {
  font-size: 0.75em;
  line-height: 2em;
  color: #FFF;
  word-break: break-all;
  margin-bottom: 10%;
  min-height: 320px;
}
.container .product .items .button {
  width: 100%;
}
.container .product .items .button a {
  width: 50%;
  display: block;
  font-size: 1.3em;
  padding: 4% 0;
}
.container .product .items .button a.buy {
  color: #FFF;
  background: #F00;
  float: left;
  text-align: center;
}
.container .product .items .button a.more {
  text-decoration: underline;
  color: #cb1c06;
  float: right;
  text-align: right;
}
.container .product .items li.line {
  width: 1px;
}
.container .copyright {
  width: 100%;
  margin: 0 auto;
  clear: both;
  color: #FFF;
  font-size: 1em;
  text-align: center;
  line-height: 5em;
}
.container .copyright .copyright_line {
  display: block;
  width: 100%;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../imgs/copyright_line.png);
  background-position: center center;
  background-size: 100% auto;
}
/*light box*/
.lightbox {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  z-index: 200;
}
.lightbox-wrapper {
  position: fixed;
  width: 100%;
  top: 20%;
}
.lightbox-container {
  width: 80%;
  margin: 0 auto;
  clear: both;
}
.lightbox .close {
  width: 79px;
  height: 106px;
  background: url(../imgs/lightbox_close.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 1;
} 
.lightbox .title {
  font-size: 4em;
  color: #FFF;
  text-align: center;
  padding-bottom: 50px;
  clear: both;
}
.lightbox .country {
  margin: 0 auto;
  background: #111;
  /*min-width: 900px;*/
  border-radius: 10px;
  padding: 25px 0;
}
.lightbox .country .country_list {
  margin: 0 auto;
  text-align: center;
  /*width: 800px;*/
}
.lightbox .country .country_list li {
  width: 16%;
  /*float: left;*/
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.lightbox .country .country_list li+li {
  border-left: #626262 solid 1px;
}
.lightbox .country .country_icon {
  width: 93px;
  height: 100px;
  margin: 0 auto;
  background-image: url(../imgs/country.png);
}
.lightbox .country .country_icon.US {
  background-position: 0 0;
}
.lightbox .country .country_icon.AU {
  background-position: -93px 0;
}
.lightbox .country .country_icon.TW {
  background-position: -186px 0;
}
.lightbox .country .country_icon.DE {
  background-position: -279px 0;
}
.lightbox .country .country_icon.FR {
  background-position: -372px 0;
}
.lightbox .country .country_icon.SW {
  background-position: -465px 0;
}
.lightbox .country .stroe {
  width: 100%;
}
.lightbox .country .stroe .name, .lightbox .country .stroe .variation_name {
  width: 100%;
  color: #fff;
  line-height: 2em;
  text-align: center;
  display: block;
}
.lightbox .country .stroe .variation_name {
  font-size: 0.8em;
  color: #bbb;
}
.lightbox .country .stroe a.name:hover, .lightbox .country .stroe a.variation_name:hover {
  color: #cb1c06;
}
.scrolldown_container {
  position: fixed;
  left: 10px;
  bottom: 101px;
  z-index: 1;
  cursor: pointer;
}
.scrolldown_container.stop {
  position: absolute;
}
.btn_scrolldown {
  width: 106px;
  height: 91px;
  overflow: hidden;
  background: url(../imgs/sd_arrow.png) 0 0 no-repeat;
}
.scrolldown_text {
  width: 106px;
  height: 26px;
  overflow: hidden;
  background: url(../imgs/scroldown.png) no-repeat;
}
@media screen and (max-width: 1400px) {
  .container .index .gamer .special .word .name {
    width: 100%;
    float: none;
    margin-left: 0;
    border-right: 0;
  }
  .container .index .gamer .special .word .experience {
    width: 100%;
    float: none;
    margin: 0;
  }
}