@charset"utf-8";
/* CSS Document */

body {
  background: #000;
  min-width: 1024px;
  max-width: 1920px;
  font-family: "square721bt", Arial;
  position: relative;
  height: 100%;
  overflow-x:hidden;
}
.recWin {
  position: absolute;
  top: 125px;
  right: 20px;
  font-family: 'MyriadProLight';
  color: white;
  font-size: 1.5em;
  z-index: 5;
}
.contaier {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1920px;
}
/*index*/

.container .index {
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  background-image: url(../imgs/KV_2.jpg);
  background-size: cover;
  position: relative;
}
/*IIP*/
.hilight {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 98;
  margin-bottom: -1px;
}
.patten {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
  margin-bottom: -1px;
}
.box-bage {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 10px;
  color: #000;
}
.box-bage.stop {
  position: absolute;
  color: #fff;
}
.bage {
  margin-left: 50%;
}
.bage-word {
  text-align: right;
  margin-top: 5px;
  line-height: 18px;
}
.bage-word p {
  font-size: 16px;
  font-family: 'MyriadProLight';
}
/**/

.text_size_04 {
  font-family: "square721bt", Arial;
  color: #FFF;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}
.container .index .ROG_LOGO {
  width: 223px;
  height: 63px;
  position: absolute;
  left: 20px;
  top: 30px;
}
.container .index .top {
  position: relative;
  width: 100%;
  height: 0;
  min-width: 1024px;
  margin: 0 auto;
  background-image: url(../imgs/event_LOGO.png);
  background-position: center center;
  background-size: cover;
  padding-bottom: 14.74%;
  z-index: 100;
}
.container .index .top .timer {
  /*width: 30%;*/ 
  margin: 0 auto;
  width: 405px;
  height: 60px;
  /*overflow: hidden;*/ 
  margin-top: -10px;
  background: url(../imgs/timer.png) no-repeat;
  background-size: 405px 60px;
  text-align: center;
  position: relative;
  padding-top: 28px;
}
.mobile .container .index .top .timer {
  width: 307px;
  height: 36px;
  background-size: 307px 36px;
}
.mobile .container .index .top {
  padding-bottom: 16.5%;
}
.mobile .timeTo li {
  font-size: 18px;
}
.timer .countdown_date {
  position: relative;
  z-index: 1;
  color: #fff;
  margin-top: 4px;
  left: 100px;
}
.timer .countdown_date > div {
  position: absolute;
  top: 0;
  font-family: Arial;
  /*font-size: 1.1em;*/
}
.timer .countdown_date .countdown_hr {
  left: 63px;
}
.timer .countdown_date .countdown_min {
  left: 111px;
}
.timer .countdown_date .countdown_sec {
  left: 171px;
}
/*.container .index .top .menu {
  min-width: 380px;
  position: fixed;
  z-index: 2;
  right: 5px;
  top: 0px;
  background-image: url(../imgs/menu.png);
  background-position: center center;
  background-size: cover;
}
.container .index .top .menu ul {
  width: 89%;
  margin: 0 auto;
}
.container .index .top .menu li {
  float: left;
  margin-left: 13.5%;
  text-align: center;
  line-height: 2.5em;
}
.container .index .top .menu li:first-child {
  margin-left: 0;
}
.container .index .top .menu a {
  color: #343e59;
}
.container .index .top .menu a:hover {
  color: #b90c0c;
}*/

.container .index .top .menu {
  min-width: 380px;
  position: fixed;
  z-index: 2;
  right: 5px;
  top: 0px;
  background-size: cover;
}
.container .index .top .menu ul {
}
.container .index .top .menu li {
  float: left;
  text-indent:-9999px;
}
.container .index .top .menu a.btn_01 {
	display:block;
	width:113px;
	height:35px;
	background-image:url(../imgs/menu_all.png);
	background-position:0 0;
}
.container .index .top .menu a.btn_02 {
	display:block;
	width:156px;
	height:35px;
	background-image:url(../imgs/menu_all.png);
	background-position:-113px 0;
}
.container .index .top .menu a.btn_03 {
	display:block;
	width:107px;
	height:35px;
	background-image:url(../imgs/menu_all.png);
	background-position:-269px 0;
}
.container .index .top .menu a.btn_01:hover {
	background-position:0 -35px;
}
.container .index .top .menu a.btn_02:hover {
	background-position:-113px -35px;
}
/*.container .index .top .menu a.btn_03:hover {
	background-position:-269px -35px;
}*/
.container .index .top .social_media {
  width: 15%;
  height: auto;
  position: absolute;
  right: 0;
  top: 55px;
}
.follow {
  font-family: 'MyriadProLight';
  color: white;
  font-size: 1.5em;
  /*font-weight: 600;*/
  position: absolute;
  left: -95px;
  top: 18px;
}
.container .index .top .social_media ul {
  width: 100%;
}
.container .index .top .social_media li {
  width: 20%;
  display: inline-block;
}
.container .index .top .social_media a {
  width: 100%;
  height: auto;
  min-height: 30px;
  min-width: 30px;
  display: block;
}
.container .index .screen {
  width: 100%;
  height: 0;
  background-image: url(../imgs/screen.png);
  padding-bottom: 51.2%;
  background-size: cover;
  position: relative;
}
.container .index .screen .video {
  width: 61.5%;
  height: 0;
  padding-bottom: 35%;
  background: #FFF;
  position: absolute;
  left: 19.5%;
  top: 9%;
  visibility: hidden;
}
.container .index .screen .video .play {} .container .index .movie {
  width: 100%;
  height: auto;
  min-height: 180px;
  background-image: url(../imgs/movie_BG.jpg);
  padding-bottom: 1%;
  background-repeat: repeat-x;
  background-size: cover;
}
.container .index .movie .movie_list {
  width: 90%;
  margin: 0 auto;
 /* background: #000;*/
  padding: 40px 0;
}
.container .index .movie .movie_list ul {
  margin: 0 auto;
}
.container .index .movie .movie_list li {
  width: 12.5%;
  height: 120px;
  float: left;
  /*display: inline-block;
  *display: inline;
  zoom: 1;*/  
  background: #FFF;
  margin-left: 5%;
  position: relative;
  cursor: pointer;
}
.container .index .movie .movie_list li:first-child {
  margin-left: 0;
}
.container .index .movie .movie_list li .thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  text-align: center;
}
.container .index .movie .movie_list li .thumbnail img {
  width: 100%;
}
.container .index .movie .movie_list li .play_wrapper {
  width: 100%;
  height: 48px;
  position: absolute;
  top: 36px;
}
.container .index .movie .movie_list li .play_wrapper .btn_play {
  width: 48px;
  height: 48px;
  overflow: hidden;
  margin: 0 auto;
  background: url(../imgs/movie_play.png);
}
.container .index .movie .movie_list li:hover .play_wrapper .btn_play, .container .index .movie .movie_list li.selected .play_wrapper .btn_play {
  background-position: -48px 0;
}
.container .index .movie .movie_list li .text_wrapper {
  width: 100%;
  position: absolute;
  /*在影片字的位置(置中或靠左)*/
  /*text-align: center;*/ 
  bottom: -3.5em;
  color: #fff;
}
/*.container .index .movie .movie_list .movie_play {
  width: 100px;
  height: 80px;
  margin: 0 auto;
  margin-top: 15px;
}
.container .index .movie .movie_list .movie_play:hover .play {
  background: url(../imgs/movie_play.png) -48px 0;
  cursor: pointer;
}
.container .index .movie .movie_list .movie_play .play {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
  background: url(../imgs/movie_play.png) 0 0;
}
.container .index .movie .movie_list .movie_play p {
  text-align: center;
}*/
.container .hoarding {
  width: 100%;
  height: 300px;
  padding-top: 3%;
}
.container .news {
  width: 43%;
  float: left;
}
.container .news .board {
  width: 90%;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 15px 0;
}
.container .news .board ul {
  width: 90%;
  margin: 0 auto;
}
.container .news .board li.item_list {
  border-top: #5E5E5E 1px solid;
  padding: 1%;
}
.container .news .board li.item_list:first-child {
  border: 0;
}
.container .news .board .date {
  font-weight: bold;
}
.container .banner {
	width: 55%;
  /* margin-top: -3%; */
  float: right;
  border-radius: 10px;
  background-color: rgba(127, 29, 14, 1);
  margin-right: 2%;
  margin-top: 0;
}
.container .banner .game_logo {/**/
  width: 30%;
  margin: 5% auto 0;
}
.container .banner .banner_teams {/**/
  width: 100%;
  margin: 3% auto;
  padding-left: 5%;
}
.container .banner .banner_teams ul li{
	width:45%;
	float:left;
}
.team_A, .team_B {
  width: 48%;
  margin: 1%;
}
.container .banner .banner_teams .group2 {
  display: none;
}
.container .banner .banner_teams .team_A {
  float: left;
}
.container .banner .banner_teams .team_B {
  float: right;
}
/*section*/

.container .section {
  width: 100%;
  margin: 0 auto;
  clear: both;
}
.container .section .heading {
  font-family: "batman", Impact;
  font-size: 8.3em;
  	color:#e10913;

  width: 90%;
  margin: 0 auto;
}
.container .section .detail {
  width: 100%;
  height: 100%;
  position: relative;
  clear: both;
}
.container .section .detail .BG {
  width: 55%;
  height: auto;
  float: right;
}
.container .section .detail .word {
  width: 45%;
}
.container .section .detail .BG_02 {
  width: 55%;
  height: auto;
  float: left;
}
.container .section .detail .word_02 {
  width: 35%;
  float: right;
  margin-right: 10%;
}
.container .section .detail .title {
  color: #e10913;
  font-size: 7em;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 10%;
}
.container .section .detail .text {
  width: 100%;
  font-style: normal;
  line-height: 1.8em;
  padding: 0 10%;
}
.container .section .detail .form {
  width: 70%;
  margin: 3% auto;
  clear: both;
}
.container .section .detail .form img {
  width: 47%;
}
.container .section .detail .left {
  float: left;
}
.container .section .detail .right {
  float: right;
}
.container .section .detail .last {
  text-align: left;
  width: 70%;
  margin: 0 auto 1%;
}
.divide {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}
/*product*/
.container .product {
  width: 100%;
  margin: 0 auto;
  max-width: 1800px;
}
.container .product .title img {
  width: 100%;
  height: auto;
}
/*product_items*/
.container .product ul.list {
  margin-bottom: 15px;
}
.container .product .list li, .list_02 li {
  float: left;
  padding-bottom: 2%;
}
.container .product .list_item {
  width: 24.9%;
}
.container .product ul li + li {
  border-left: 1px solid #323030;
}
.container .product .items {
  width: 90%;
  margin: 0 auto;
}
.container .product .items .image {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.container .product .items .image img {
  width: 100%;
  height: auto;
}
.container .product .items .model {
  font-size: 3em;
  font-family: Arial;
  color: #e10913;
}
.container .product .items .info {
  font-size: 1.3em;
  line-height: 2em;
  color: #FFF;
  /*word-break: break-all;*/
  margin-top: 15px;
  font-family: 'MyriadProLight';
}
.container .product .items .button {
  width: 100%;
}
.container .product .items .button a {
  width: 50%;
  display: block;
  font-size: 1.3em;
  padding: 4% 0;
}
.container .product .items .button a.buy {
  color: #FFF;
  background: #F00;
  float: left;
  text-align: center;
  font-family: Arial;
  font-size: 1.7em;
}
.container .product .items .button a.more {
  text-decoration: underline;
  color: #cb1c06;
  float: right;
  text-align: right;
}
.container .product .items li.line {
  width: 1px;
}
.container .copyright {
  width: 100%;
  margin: 0 auto;
  clear: both;
  color: #FFF;
  font-size: 1em;
  text-align: center;
  line-height: 5em;
}
.container .copyright .copyright_line {
  display: block;
  width: 100%;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url(../imgs/copyright_line.png);
  background-position: center center;
  background-size: 100% auto;
  /**/  margin-top: 2em;
}
/*light box*/
.lightbox {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../imgs/bg_black_90.png);
  top: 0;
  z-index: 200;
  text-align: center;
}
.lightbox-wrapper {
  position: fixed;
  width: 100%;
}
.lightbox-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle ;
  height: 100%;
}
.lightbox-container {
  width: 80%;
  margin: 0 auto;
  clear: both;
  display: inline-block;
  vertical-align: middle;
}
.lightbox .close {
  width: 71px;
  height: 97px;
  background: url(../imgs/btn_close.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 1;
}
.lightbox .title {
  font-size: 6em;
  color: #FFF;
  text-align: center;
  padding-bottom: 50px;
  clear: both;
  font-family: Arial;
  font-weight: bold;
}
.lightbox .list_wrapper {
  margin: 0 auto;
  background: #101216;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 25px 0;
  -webkit-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.9);
  box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.9);
}
.lightbox .list_wrapper .country_list, .lightbox .list_wrapper .wallpaper_list {
  margin: 0 auto;
  text-align: center;
}
.lightbox .list_wrapper .country_list li, .lightbox .list_wrapper .wallpaper_list li {
  width: 14%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.lightbox .list_wrapper .country_list li+li {
  border-left: #626262 solid 1px;
}
.lightbox .list_wrapper .wallpaper_list {
  padding: 15px 0;
}
.lightbox .list_wrapper .wallpaper_list li {
  width: 22%;
  margin: 10px 1%;
  max-width: 322px;
  max-height: 181px;
  overflow: hidden;
  position: relative;
}
.lightbox .list_wrapper .wallpaper_list li img {
  width: 100%;
}
.lightbox .list_wrapper .wallpaper_list li a {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../imgs/download_overlay.png) no-repeat;
  background-size: cover;
  display: none;
  font-size: 0;
}
.lightbox .list_wrapper .wallpaper_list li:hover a {
  display: block;
}
.lightbox .country .country_icon {
  width: 93px;
  height: 100px;
  margin: 0 auto;
  background-image: url(../imgs/country.png);
}
.lightbox .country .country_icon.US {
  background-position: 0 0;
}
.lightbox .country .country_icon.AU {
  background-position: -93px 0;
}
.lightbox .country .country_icon.TW {
  background-position: -186px 0;
}
.lightbox .country .country_icon.DE {
  background-position: -279px 0;
}
.lightbox .country .country_icon.FR {
  background-position: -372px 0;
}
.lightbox .country .country_icon.SW {
  background-position: -465px 0;
}
.lightbox .country .country_icon.UK {
  background-position: -558px 0;
}
.lightbox .country .store .name, .lightbox .country .store .variation_name {
  width: 100%;
  color: #fff;
  line-height: 1.8em;
  text-align: center;
  display: block;
  font-size: 1.5em;
  font-family: Arial;
}
.lightbox .country .store .variation_name {
  font-size: 0.8em;
  color: #bbb;
}
.lightbox .country .store a.name:hover, .lightbox .country .store a.variation_name:hover {
  color: #cb1c06;
}
.lightbox .country .country_list li .store + a {
  color: #EFC82E;
  margin-top: 5px;
}
.lightbox .country .country_list li .store + a:hover {
  color: #cb1c06;
}
.scrolldown_container {
  position: fixed;
  left: 10px;
  bottom: 10px;
  /*zek*/
  z-index: 1;
  cursor: pointer;
}
.scrolldown_container.stop {
  position: absolute;
}
.btn_scrolldown {
  width: 77px;
  height: 91px;
  overflow: hidden;
  background: url(../imgs/arr.png) 0 0 no-repeat;
}
.scrolldown_text {
  width: 106px;
  height: 26px;
  overflow: hidden;
  background: url(../imgs/scroldown.png) no-repeat;
}
@media screen and (max-width: 1400px) {
  .container .index .gamer .special .word .name {
    width: 100%;
    float: none;
    margin-left: 0;
    border-right: 0;
  }
  .container .index .gamer .special .word .experience {
    width: 100%;
    float: none;
    margin: 0;
  }
  .container .index .top .menu li {
    vertical-align: baseline;
  }
}
@media screen and (max-width: 1525px) {
  .container .index .top .timer {
    width: 380px;
    height: 57px;
    background-size: 380px 57px;
  }
  .timer .countdown_date {
    left: 88px;
    margin-top: -2px;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 1400px) {
  .container .index .top .timer {
    width: 320px;
    height: 48px;
    background-size: 320px 48px;
    padding-top: 24px;
  }
  .timer .countdown_date {
    left: 77px;
    margin-top: -8px;
    font-size: 0.9em;
  }
  .timeTo li {
    font-size: 22px;
  }
  .timer .countdown_date .countdown_hr {
    left: 46px;
  }
  .timer .countdown_date .countdown_min {
    left: 87px;
  }
  .timer .countdown_date .countdown_sec {
    left: 137px;
  }
}
@media screen and (max-width: 1170px) {
  .container .index .top .timer {
    width: 310px;
    height: 46px;
    background-size: 310px 46px;
    padding-top: 24px;
  }
  .timer .countdown_date {
    left: 70px;
    margin-top: -10px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1024px) {
  .container .section .detail .BG {
    width: 100%;
    height: auto;
    float: none;
  }
  .container .section .detail .word {
    width: 80%;
  }
  .container .section .detail .BG_02 {
    width: 100%;
    height: auto;
    float: none;
  }
  .container .section .detail .word_02 {
    width: 80%;
    float: none;
  }
  .container .index .top .timer {
    padding-top: 16px;
  }
}
.readmore_container {
  text-align: right;
  margin: 3px 0 25px;
  line-height: 15px;
}
.readmore_container a {
  float: right;
  color: #cd0811; 
}
.readmore_container .rm_arrow {
  float: right;
  background: url(../imgs/readmore_arrows.png) no-repeat;
  width: 8px;
  height: 15px;
  overflow: hidden;
  margin-left: 3px;
}
.readmore_container .rm_arrow.up {
  background-position: 0 -15px
}
.btn_backtop {
  position: fixed;
  z-index: 3;
  right: 10px;
  bottom: 20px;
  cursor: pointer;
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s;
  width: 50px;
  height: 50px;
  border: 2px solid #c7161e;
  background: #000 url(../imgs/icn-backtop.png) no-repeat 50% 50%;
  display: none;
}

